.title {
  color: red;
  font-size: 20px;
  text-align: center;
}
.bio {
  color: blue;
  font-size: 15px;
  text-align: center;
}
body {
  text-align: center;
  background-color: #EEE5E5;
}
.jumbotron {
  background-color: #DDCECD;
}
.info {
  background-color: #red;
}

//
//
// #28AFB0
// #19647E
