.title {
  color: #36494E;
  font-size: 20px;
  text-align: center;
}
.bio {
  color: #2E4057;
  font-size: 15px;
  text-align: center;
}
body {
  font-family: 'Nunito', sans-serif;
  text-align: center;
  background-color: #FDF0D5;
}
.jumbotron {
  background-color: #C6D8D3;
  font-size: 40px;
  color: #2E4057;
}
.info {
  background-color: #C0D461;
}
.image{
  height: 200px;
  width: 175px;
}
.form-color-test {
  background-color: #ECDCB0;
}
