.title {
  color: #ED6A5A;
  font-size: 20px;
  text-align: center;
}
.bio {
  color: #2E4057;
  font-size: 15px;
  text-align: center;
}
body {
  text-align: center;
  background-color: #CAFFB9;
}
.jumbotron {
  background-color: #AEF78E;
  color: #2E4057;
}
.info {
  background-color: #C0D461;
}
.image{
  height: 200px;
  width: 175px;
}
